<div id = "pizza-template" class="pizza">
  <h2>{{name}}</h2>
  <h3>{{type}}</h3>
  <h4>{{ingredient}}</h4>
  <button type="button" name="button" class="remove" id="{{_id}}">Remove {{name}}</button>
  <br>
</div>
